.App {
  text-align: center;
}

.ColorBack {
  height: 100vh;
  background: rgb(21,20,38);
  background: linear-gradient(90deg, rgba(21,20,38,1) 0%, rgba(43,43,50,0.9500175070028011) 43%, rgba(51,97,106,1) 100%);
}

.BoxEstilo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: rgb(21,20,38);
  background: linear-gradient(90deg, rgba(21,20,38,1) 0%, rgba(73,73,148,0.9500175070028011) 45%, rgba(70,188,212,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
